@import "../.././colors.css" ;

.delAccBody{
    background: var(--backgroundModals);
    border:3px solid var(--borderModals);
    border-radius: 5px;
    padding: 10px;
    width: 350px;
    height: 150px;
    text-align: center;
    margin: 100px auto;

}

.delAccBody h3{
    margin-bottom: 20px;
}

.btnsDiv{
    display: flex;
    row-gap: 10px;
    justify-content: space-evenly;
    margin: 10px;
    grid-area: btnsDiv;
}

.saveBtn{
    height: 30px;
    background: var(--btnWhite);
    border: 2px solid var(--btnGreen);
    color: var(--btnGreen);
    transition: 0.7s;
    border-radius: 5px;
}
.saveBtn:hover{
    background: var(--btnGreen);
    color: var(--btnWhite);
}

.cancelBtn{
    grid-area: btnCancel;
    border-radius: 5px;
    height: 30px;
    background: var(--btnWhite);
    border: 2px solid var(--btnRed);
    color: var(--btnRed);
    transition: 0.7s;
}
.cancelBtn:hover{
    transition: 0.7s;
    background: var(--btnRed);
    color: var(--btnWhite);
}