@import "../.././colors.css" ;

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}


.bodyEditOffert textarea{
    resize: none;
}
:root{
    --descBorder:var(--infoColorRed)  ;
    --titleBorder:var(--infoColorRed)  ;
    --imgLinkBorder:var(--infoColorRed)  
}

.bodyEditOffert{
    background: var(--backgroundModals) ;
    border:3px solid var(--borderModals);
    border-radius: 5px;
    width: 480px;
    height: 720px;
    margin: 100px auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 35px 120px 40 220px 50px 50px 50px;
    row-gap: 5px;
    grid-template-areas:
    "top top"
    "img photo"
    "title title"
    "desc desc"
    "cat price"
    ". value"
    "btnAccept btnCancel"
    ;
}

.editOffTop{
    grid-area: top;
    background: var(--borderModals);
}
.h2{
    margin: 5px auto;
}

.bodyEditOffert img{
    grid-area: img;
    max-height: 120px;
    max-width: 120px;
}

.editPhoto input{
    border:2px solid var(--imgLinkBorder);
    border-radius: 5px;
    background: var(--inputAndInputBtnBackground);
}


.editPhoto{
    grid-area: photo;
}


.editTitle{
    grid-area: title;
}

.editTitle textarea{
    width: 400px;
    border:2px solid var(--titleBorder);
    border-radius: 5px;
    background: var(--inputAndInputBtnBackground);
}

.editDesc{
    grid-area: desc;
}



.editDesc textarea{
    width: 400px;
    height: 150px;
    border:2px solid var(--descBorder);
    border-radius: 5px;
    background: var(--inputAndInputBtnBackground);
}

.editCatList{
    grid-area: cat;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.editPrice{
    grid-area: price;
}
.editPrice input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--inputAndInputBtn);
    border-radius: 5px;
    box-shadow: none;
    background: var(--inputAndInputBtnBackground);
}

.editValue{
    grid-area: value;
}

.editValue input{
    text-align: center;
    border-radius: 5px;
    border: 1px solid var(--inputAndInputBtn);
    border-radius: 5px;
    box-shadow: none;
    background: var(--inputAndInputBtnBackground);
}

.editBtnAcceptOff{
    grid-area: btnAccept;
    margin: 10px auto;
    background: var(--btnWhite);
    border: 2px var(--btnGrey) solid;
    border-radius: 5px;
    width: 100px;
    color: var(--btnGrey);
}

.editBtnAccept{
    grid-area: btnAccept;
    margin: 10px auto;
    background: var(--btnWhite);
    border: 2px var(--btnGreen) solid;
    border-radius: 5px;
    width: 100px;
    color: var(--btnGreen);
    transition: 0.7s;
}

.editBtnAccept:hover{
    background: var(--btnGreen);
    color: var(--btnWhite);
}

.editBtnCancel{
    grid-area: btnCancel;
    margin: 10px auto;
    background: var(--btnWhite);
    border: 2px var(--btnRed) solid;
    border-radius: 5px;
    width: 100px;
    color: var(--btnRed);
    transition: 0.7s;
}

.editBtnCancel:hover{
    background: var(--btnRed);
    color: var(--btnWhite);
}


.catSetEdit{
    display: flex;
    width: 132px;
    border-radius: 5px;
    justify-content: center;
}

.catSetBtnEdit{
    display: inline-block;
    cursor: pointer;
    border-radius: 5px;
    background: var(--btnWhite);
    border: 2px solid var(--btnBlue);
    color: var(--btnBlue);
}


.catSetEdit:hover .catSetMenuEdit{
    display: flex;
}
.catSetMenuEdit{
    position: absolute;
    display: none;
    flex-direction: column;
    left: 183px;
    bottom: 0px;
    background: var(--btnBlue);
    padding: 5px;
    width: 180px;
    font-size: 14px;
    border: 2px solid var(--btnBlue);
    border-radius: 5px;
}
.catSetMenuEdit button{
    text-align: center;
    border: var(--btnWhite) 2px solid;
    border-radius: 5px;
    background: var(--btnWhite);
    color: var(--btnBlue);
    margin: 2px;
    padding: 3px;
    transition: 0.7s;
}

.catSetMenuEdit button:hover{
    cursor: pointer;
    background: var(--btnBlue);
    color: var(--btnWhite);
    transition: 0.7s;
}