@import "../.././colors.css" ;

.contactsChangeBody{

    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "update update"
    "message dnd";
    column-gap: 50px;
    align-items: flex-start;
}

@media (max-width: 900px) {

    .contactsChangeBody{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: 
    "update"
    "dnd"
    "message";
    column-gap: 0px;
    }

    .dndBody{
        border: 2px var(--borderFirst) solid;
        background: var(--backgroundFirst);
        border-radius: 5px;
        width: 400px;
        text-align: center;
        position: relative;
        padding-bottom: 10px;
        margin: 50px auto 0px auto;
        grid-area: dnd;
    }

}

    .needUpdate{
        
        grid-area: update;
        text-align: center;  
        margin-top: 50px;
    }
        .needUpdateTxt{
            font-weight: 500;
            font-size: xx-large;
            margin-bottom: 30px;
        }
        .updateAccept{
            border-radius: 5px;
            border: 2px solid var(--btnGreen);
            color:var(--btnGreen);
            background: var(--btnWhite);
            margin-right: 20px;
            transition: 0.7s;
        }
        .updateAccept:hover{
            color:var(--btnWhite);
            background: var(--btnGreen);
        }

        .updateCance{
            border-radius: 5px;
            border: 2px solid var(--btnRed);
            color:var(--btnRed);
            background: var(--btnWhite);
            margin-right: 20px;
            transition: 0.7s;
        }
        .updateCance:hover{
            color:var(--btnWhite);
            background: var(--btnRed);
        }





    .messageBody{
        grid-area: message;
        margin: 50px auto 0px auto;
        width: 80%;
        border: 2px solid var(--borderFirst);
        border-radius: 5px;
        padding: 5px;
        background: var(--backgroundFirst);
        text-align: center;
    }
        .messageBodyTitle{
            font-weight: 400;
            font-size: 20px;
        }

        .messageItem{
            margin-top: 10px;

        }

        .messageItemTopBtnOpen{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            border: 2px solid var(--borderCards);
            background: var(--backgroundThird);
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
            transition: 2s;
        }
        .messageItemTopBtnClose{
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 40px;
            border: 2px solid var(--borderCards);
            background: var(--backgroundThird);
            border-radius: 5px;
            transition: 2s;
        }


        .itemDelAndEmailOpen{
            height: 40px;
            transition: 1s;
            display: flex;
            background: var(--backgroundCards);
            border-left: 2px solid var(--borderCards);
            border-right: 2px solid var(--borderCards);
            border-bottom: 1px solid var(--borderCards);
        }


        .itemDelAndEmailClose{
            height: 0px;
            transition: 1s;
            background: var(--backgroundCards);
            border-left: 2px solid var(--borderCards);
            border-right: 2px solid var(--borderCards);
        }

            .messageItemEmailOpen{
                font-size: 15px;
                margin: auto;
                transition: 1s;

                width: 80%;
                height: 100%;
                margin: auto 0px;
                padding-top: 7px;

            }
            .messageItemEmailClose{
                font-size: 0px;
                transition: 1s;

                width: 80%;
                height: 100%;
                margin: auto 0px;
                padding-top: 0px;
            }




            .messageItemDelOpen{
                height: 30px;
                border: 2px solid var(--btnRed);
                border-radius: 5px;
                background: var(--btnWhite);
                color: var(--btnRed);
                font-size: 15px;
                transition: 1s;
                margin: auto;
            }
                .messageItemDelOpen:hover{
                    background: var(--btnRed);
                    color: var(--btnWhite);
                }

            .messageItemDelClose{
                height: 0px;
                border: none;
                background: none;
                font-size: 0px;
                margin: auto;
            }
            



        .itemTxtOpen{
            height: 100px;
            background: var(--backgroundCards);
            border-left: 2px solid var(--borderCards);
            border-right: 2px solid var(--borderCards);
            border-bottom: 2px solid var(--borderCards);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            transition: 1s;
            padding: 5px;
            text-align: start;
        }
        .itemTxtClose{
            background: var(--backgroundCards);
            height: 0px;
            transition: 1s;
            border-left: 2px solid var(--borderCards);
            border-right: 2px solid var(--borderCards);
            border-bottom: 0px solid var(--borderCards);
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            font-size: 0px;
            
        }




    .dndBody{
        border: 2px var(--borderFirst) solid;
        background: var(--backgroundFirst);
        border-radius: 5px;
        width: 400px;
        text-align: center;
        position: relative;
        padding-bottom: 10px;
        margin-top: 50px;
        grid-area: dnd;
    }


        .dndTitle{
            height: 30px;
            font-size: x-large;
            font-weight: 500;
        }

        :root{
            --top:132px
        }

        .delElement{
            position: absolute;
            border: 2px solid var(--btnRed);
            transition: 1s;
            box-shadow: inset 0px 0px 50px var(--btnRed);
            border-radius: 5px;
            width: 350px;
            height: 50px;
            z-index: 2;
            position: absolute;
            left: 23px;
            top: var(--top);
        }

        .delElement::after{
            content: "\f1f8";
            font-family: fontAwesome;
            margin: 5px auto;
            transition: 1s;
            width: 350px;
            height: 50px;
            z-index: 3;
            position: absolute;
            left: 0px;
            text-align: center;
            line-height: 35px;
        }

        .column{
            border: 2px solid var(--borderSecond);
            background: var(--backgroundSecond );
            border-radius: 5px;
            width: 350px;
            display: flex;
            z-index: 3;
            flex-direction: column;
            align-items: center;
            margin-left: 23px;
            margin-top: 100px;
            padding-bottom: 10px;
            position: relative;
        }

        .addNewBtn{
            border: dashed 2px var(--btnBlue);
            color: var(--btnBlue);
            border-radius: 5px;
            background: none;
            width: 300px;
            margin: 15px 0px;
        }


        .addNewDiv{
            border: 2px solid var(--borderThird);
            background: var(--backgroundThird);
            border-radius: 5px;
            width: 300px;
            padding: 10px;
            margin: 10px auto;
            display: flex;
            flex-direction: column;
            row-gap: 10px;

        }

        .addNewTitle{
            font-weight: 600;
        }


        .newCartTxtInp{
            border: 2px solid var(--inputAndInputBtn);
            background: var(--inputAndInputBtnBackground) ;
            border-radius: 5px;
        }

        .newCartLogoTitle{
            font-weight: 500;
        }

        .newCartBtns button{
            margin: 2px;
            border: 2px solid var(--btnBlue);
            background: var(--btnWhite);
            border-radius: 5px;
            transition: 0.7s;
        }

        .newCartBtns button:hover{
            border: 2px solid var(--btnBlue);
            background: var(--btnBlue);

        }

        .newCartUrl{
            margin-top: 10px;
        }


        .newCartUrl input{
            border: 2px solid var(--inputAndInputBtn);
            background: var(--inputAndInputBtnBackground) ;
            border-radius: 5px;
            margin-left: 5px;
        }

        .newCartAcceptCancel{
            display: flex;
            justify-content: space-around;
            margin-top: 10px;
        }

            .newCartAcceptBtn{
                margin-top: 20px;
                border: 2px solid var(--btnGreen);
                border-radius: 5px;
                color: var(--btnGreen);
                background: var(--btnWhite);
                transition: 0.7s;
            }
            .newCartAcceptBtn:hover{
                background:var(--btnGreen);
                color: var(--btnWhite);
            }


            .newCartCancelBtn{
                margin-top: 20px;
                border: 2px solid var(--btnRed);
                border-radius: 5px;
                color: var(--btnRed);
                background: var(--btnWhite);
                transition: 0.7s;    
            }
            .newCartCancelBtn:hover{
                background:var(--btnRed);
                color: var(--btnWhite);
            }




        .item{
            display: flex;
            border: 2px solid var(--borderCards);
            background: var(--backgroundCards);
            border-radius: 5px;
            height: 54px;
            width: 275px;
            margin-top: 10px;
            text-align: center;
            position: relative;
        }
            .item::after{
                content: "\f58e";
                font-family: fontAwesome;
                right: 10px;
                top: 12px;
                position: absolute;
            }
            .itemPhoto{
                margin:5px 0px 5px 5px;
                width: 40px;
                height: 40px;
            }

            .itemTxt{
                line-height: 50px;
                margin: 0px 5px 0px 20px;
            }